<div class="container-fluid">
  <div class="m-3 pt-2 main-cont" style="height: 75vh">
    <div class="d-flex reference-header pb-2">
      <div class="line-left border-bottom border-primary px-3 py-1"></div>
      <div class="reference-header-title border-top border-start border-end 
      border-primary px-3 py-1 text-center text-primary text-uppercase">
          References</div>
      <div class="line-right border-bottom border-primary px-3 py-1"></div>
  </div>
    <div class="p-3 pt-1">
      <p class="heading1">&nbsp;REFERENCE 1</p>
      <app-ref-component></app-ref-component>
      <p class="heading1">&nbsp;REFERENCE 2</p>
      <app-ref-component></app-ref-component>
    </div>
  </div>
  <div class="m-3 btncontrol">
    <div>
      <button type="button" class="btn btn-outline-primary rounded-0 m-1">
        EXIT
      </button>
    </div>
    <div>
      <button type="submit" class="btn btn-primary rounded-0 m-1">SAVE</button>
      <button type="button" class="btn btn-primary rounded-0 m-1">
        SAVE & CONTINUE
      </button>
    </div>
  </div>
</div>
