<div class="shadow ">
    <div class="d-flex reference-header">
        <div class="line-left border-bottom border-primary px-3 py-1"></div>
        <div class="reference-header-title border-top border-start border-end 
        border-primary px-3 py-1 text-center text-primary text-uppercase">
            References</div>
        <div class="line-right border-bottom border-primary px-3 py-1"></div>
    </div>
    <div class="reference-conatiner p-4">
        <div class="reference-component p-1 px-2 text-uppercase">
            Reference 1
        </div>
        <app-reference-component></app-reference-component>

        <div class="reference-component p-1 px-2 text-uppercase">
            Reference 2
        </div>
        <app-reference-component></app-reference-component>
    </div>
</div>